

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D98D4;
    color: #DFE1E5;
    padding: .6rem 1.5rem;
    font-size: .8rem;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    margin: 0 1rem;
}

.button:hover {
    color: #DFE1E5;
}

