.menu {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    position: absolute;
    box-shadow: 0 1px 1px 1px #e3e3e3;
}

.menu_link {
    padding: 1rem;
    padding-left: 1.5rem;
    text-align: start;
    font-size: .89rem;
    border-radius: 3px;
    margin: 0 .8rem;
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
}

.menu_link:hover {
    background-color: #E2F3FB;
    box-shadow: 0 0 0 1px #1D98D4;
}

.footer {
    font-size: .78rem;
    font-weight: 600;
    padding-left: 1.3rem;
    margin-top: 1rem;
}

.divider {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: .5px;
    background-color: #e3e3e3;
}

.footer p {
    margin: 8px;
}
@media (max-width: 768px){
    .menu {
        flex-direction: row;
        height: auto;
        padding-top: .5rem;
        width: 100%;
        padding-bottom: .5rem;
    }

    a {
        font-size: .63rem;
    }
}

@media (max-width: 320px){
    .menu {
        flex-direction: row;
        height: auto;
        padding-top: .5rem;
        width: 100%;
        padding-bottom: .5rem;
    }

    a {
        font-size: .63rem;
    }
}