



.button {
    background-color: #1D98D4;
}

.button:hover {
    color: #DFE1E5;
}

.focus-animation {
    transform: scale(1.01);  
}



/* .container {
    width: 70vw;
    margin-top: 7rem !important;
}
.container input{
    margin: 0px;
    padding: 5px;
    
}

form h4 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
}

.input_group div {
    display: flex;
    flex-direction: column;
}

.input_group div input {
    margin-top: .5rem;
}

.input_group div input:nth-child(3){
    margin-bottom: 1.2rem;
}

#subcode{
    width: 130px;
    text-transform:uppercase
}

input::placeholder{
    text-transform: capitalize;
}

#credits{
    width: 120px;
}


 */

 input::placeholder {
    text-transform: capitalize;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
 }


 select {
    font-size: 14px;
 }

 .info {
    font-size: 11px;    
 }

