.container {
    width: 70vw;
    position: relative;
    margin-top: 1rem;
    padding: 1rem 0 0 5rem;
    
}
.container input{
    margin: 5px;
    padding: 5px;
    
}
#subcode{
    width: 130px;
    text-transform:uppercase
}
#credits{
    width: 120px;
}



