:root {
  --primary-text-color: #091E42;
  --secondary-text-color: #495973;
  --placeholder-text-color: #A1A3A7;
  --border-color: #DFE1E5;
  --primary-blue: #1D98D4;
  --secondary-color: #E2F3FB;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* font-family: 'Manrope', sans-serif !important; */
}

label {
  font-family: 'Manrope', sans-serif;
  color: var(--secondary-text-color) !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 14px !important;
}

.delete {
  background-color:  #DC2626 !important;
}


.column {
  float: right;
  padding: 20px;
  height: 200px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
