:root {
  --primary-text-color: #091E42;
  --secondary-text-color: #495973;
  --placeholder-text-color: #A1A3A7;
  --border-color: #DFE1E5;
  --primary-blue: #1D98D4;
  --secondary-color: #E2F3FB;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}